.profile{
    display: flex;
}
.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;

}
.profileCoverimg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserimg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 10px;
    margin: auto;
    top: 150px;
    border: 5px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 20px;
}
.ProfileInfoName{
    font-size: 24px;
}
.ProfileInfoDesc{
    font-weight: 300;
}


.ProfileRightBottom{
    display: flex;
}
